includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # Symfony Config component
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::addDefaultsIfNotSet\(\)#'
            path: bundle/DependencyInjection/Configuration.php

        # Integration specifics
        -
            message: '#Access to an undefined property object::\$id.#'
            path: lib/Item/ValueUrlGenerator/ContentValueUrlGenerator.php

        -
            message: '#Access to an undefined property object::\$innerLocation.#'
            path: lib/Item/ValueUrlGenerator/LocationValueUrlGenerator.php
